<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback Form</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <form action="/success_page">
        <p>How did you hear about us?</p><br><br>
        <input type="radio" id="facebook" name="feedback" value="facebook">
        <label for="facebook">Facebook</label><br>
        <input type="radio" id="instagram" name="feedback" value="instagram">
        <label for="instagram">Instagram</label><br>
        <input type="radio" id="google" name="feedback" value="google">
        <label for="google">Google</label><br>
        <input type="radio" id="tv" name="feedback" value="tv">
        <label for="tv">TV</label><br>
        <input type="radio" id="tiktok" name="feedback" value="tiktok">
        <label for="tiktok">TikTok</label><br>
        <input type="radio" id="people" name="feedback" value="people">
        <label for="people">People</label><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</body>
</html>
